<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New User</title>
</head>
<body>
<h1>New user</h1>
<form th:method="POST" th:action="@{/admin}" th:object="${user}">
  <p>
    <label for="login">Enter login:</label>
    <input type="text" required th:field="*{username}" id="login">
  </p>
  <p>
    <label for="name">Enter name:</label>
    <input type="text" required th:field="*{name}" id="name">
  </p>
  <p>
    <label for="surname">Enter surname:</label>
    <input type="text" th:field="*{surname}" id="surname">
  </p>
  <p>
    <label for="password">Enter password:</label>
    <input type="password" required th:field="*{password}" id="password">
  </p>
  <p>
    <label for="email">Enter email:</label>
    <input type="text" th:field="*{email}" id="email">
  </p>
  Select role:
  <p>
    <input type="checkbox" id="user" name="roles" value="2" checked><label for="user"> User</label>
    <br/>
    <input type="checkbox" id="admin" name="roles" value="1"><label for="admin"> Administrator</label>
  </p>
  <input type="submit" value="Add user"/>
</form>
<br/>
<form th:method="POST" th:action="@{/logout}">
  <button type="submit">Log Out</button>
</form>
</body>
</html>