<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit User</title>
</head>
<body>
<h1>Edit user</h1>
<form th:method="PATCH" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
  <p>
    <label for="login">Enter login:</label>
    <input type="text" required th:field="*{username}" id="login">
  </p>
  <p>
    <label for="name">Enter name:</label>
    <input type="text" required th:field="*{name}" id="name">
  </p>
  <p>
    <label for="surname">Enter surname:</label>
    <input type="text" th:field="*{surname}" id="surname">
  </p>
  <p>
    <label for="email">Enter email:</label>
    <input type="text" th:field="*{email}" id="email">
  </p>
  <p>
    <label for="password">Enter new password:</label>
    <input type="password" th:field="*{password}" id="password">
  </p>
  Select roles:
  <p>
    <input type="checkbox" id="user" name="roles" value="1" th:checked="${user.getRoles().contains(roleAdmin)}">
    <label for="user"> Administrator</label>
    <br/>
    <input type="checkbox" id="admin" name="roles" value="2" th:checked="${user.getRoles().contains(roleUser)}">
    <label for="admin"> User</label>
  </p>
  <input type="submit" value="Update user"/>
</form>
<br/>
<form th:method="POST" th:action="@{/logout}">
  <button type="submit">Log Out</button>
</form>
</body>
</html>