<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>User details</title>
</head>
<body>
<h1>User details</h1>
<table border="1" cellspacing="0">
    <thead>
    <tr>
        <th> Id </th>
        <th> Name </th>
        <th> Surname </th>
        <th> Email </th>
        <th colspan="2" sec:authorize="hasRole('ROLE_ADMIN')"> Action </th>
    </tr>
    </thead>
    <tbody>
        <td th:text="${user.getId()}">id</td>
        <td th:text="${user.getName()}">name</td>
        <td th:text="${user.getSurname()}">surname</td>
        <td th:text="${user.getEmail()}">email</td>
        <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/admin/{id}/edit(id=${user.getId()})}">
            <input type="button" value="EDIT"/></a>
        </td>
        <td sec:authorize="hasRole('ROLE_ADMIN')">
            <form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
                <input type="submit" value="DELETE"/>
            </form>
        </td>
    </tbody>
</table>
<h4>ROLE:</h4>
<table>
    <tr th:each="role : ${user.getRoles()}">
        <td th:utext="${#strings.substringAfter(role.getName(), 'ROLE_')}"></td>
    </tr>
</table>
<div sec:authorize="hasRole('ROLE_ADMIN')">
    <h4>
        <a href="/admin">
            <input type="button" value="All users">
        </a>
    </h4>
</div>
<form th:method="POST" th:action="@{/logout}">
    <button type="submit">Log Out</button>
</form>
</body>
</html>